@model int


<div class="row">
    <a class="card-link btn btn-dark marginButtons" asp-controller="ShoppingCart" asp-action="AddItem" asp-route-productId="@Model">Add to cart </a>
    <a class="btn btn-primary marginButtons" asp-action="DisplayProductDetails" asp-route-id="@Model">Details</a>
</div>
