html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.names{
    font-size: 16px;
    font-weight:700;
    margin-top: 10px;
}

.productName{
    font-size: 30px;
    margin-bottom:30px;
    margin-top:10px;
    font-weight:800;
    text-align:center;

}

.buttonsEditAndExit{
    margin-top: 20px;
}

.productCard {
    border-style: solid;
    border-width: 3px;
    border-color: #558dffff;
    background-color: #F7ECF7;
    padding:20px;
}

#imageMargin {
    padding-left: 0px !important;

}

.formMargin{
    margin-left:20px;
}
.picture{
    margin-bottom:10px;
}
.imagesInEdit{
    width:300px;
    display:inline;
}
#quantity {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 0 0 0 0;
    font-size:11px;
}
.total{
    width: 44%;
    float:right;
    text-align:right;
    margin-right:60px;
    margin-left:30%;
    font-weight: 700;
}

.textTotal{
    margin: 5px 50px 5px 0px;
}
#buttonsAfterTotal {
    margin-right: 60px;
    margin-top: 15px;
}
#categoryButton{
    margin-right:20px;
}

    