html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
       
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F9F9F9;
    font-family: 'Montserrat', sans-serif !important;
}

.names {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.productName {
    font-size: 30px;
    margin-bottom:20px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
}

.buttonsEditAndExit {
    margin-top: 20px;
}

.productCard {
    border-style: solid;
    border-width: 3px;
    border-color: #F9F9F9;
    background-color: #F7ECF7;
    padding: 20px;
    height: auto;
    margin: 50px;
}

.imageMargin {
    padding: 10px;
    text-align: center;
}

.imagesMargin {
    margin: 10px;
}

.formMargin {
    margin-left: 20px;
}

.picture {
    margin-bottom: 10px;
}

.imagesInEdit {
    width: 300px;
    display: inline;
}

#quantity {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 0 0 0 0;
    font-size: 11px;
}

.total {
    width: 44%;
    float: right;
    text-align: right;
    margin-right: 60px;
    margin-left: 30%;
    font-weight: 700;
}

.textTotal {
    margin: 5px 50px 5px 0px;
}

#buttonsAfterTotal {
    margin-right: 60px;
    margin-top: 15px;
}

#categoryButton {
    margin-right: 20px;
}
/*bootstrap custom styles*/
.card {
    background-color: #EDF2FC;
    padding: 10px;
}

.bg-white {
    background-color: #E8EDF5;
}

.img-fluid {
    height: auto;
    width: 200px;
    display: inline;
}

.table {
    background-color: #EDF2FC;
}

.btn-primary {
    color: #fff;
    background-color: #2A4679;
    border-color: #2A4679;
}

.btn-primary:hover {
        background-color: #3e68b3;
        border-color: #3e68b3;
    }

nav.navbar {
    background-color: #EDF2FC !important;
}

.page-link {
    background-color: #fff;
    color: #2A4679;
}

    .page-link:hover {
        color: #2A4679;
    }

.page-item.active .page-link {
    background-color: #94a2bc;
    border-color: #d4dae4;
}


.btn-secondary {
    background-color: #fff;
    color: #192A48;
    font-weight: 700;
    border-color: #94a2bc;
    
}
    .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, btn-secondary:active:focus {
        background-color: #3e68b3;
        border-color: #3e68b3;
        box-shadow: 0 0 0 0 !important;
    }

.form-control:focus {
    box-shadow: 0 0 0 0 !important;
    border-color: #2A4679;
  
}


.nav-link.active {
    background-color: #3e68b3 !important;
    color: #fff;
}

.manageNav {
    color: #192A48 !important;
}
.manageNav.active {
    color: #fff !important;
}

.btn-info {
    background-color: #ac97a9;
    color: #fff;
    border-color: #ac97a9;
}
    .btn-info:hover, .btn-info:active, .btn-info:focus, btn-infoy:active:focus {
        background-color: #dec3d9;
        border-color: #dec3d9;
        box-shadow: 0 0 0 0 !important;
    }
/*bootstrap custom styles end*/

.fa-cart-arrow-down {
    color: #192A48;
    font-size: 22px !important;
}

#buttonFontAwesome{
    border:none;
}

#backToList{
  padding:0;
  background:unset;
  color:black;
  font-size:30px;
  border:none;
  width:auto;
  margin-left:10px;
}

.buttonsShared {
    display: flex;
    justify-content: space-between;
}

.h1FontSize{
    font-size: 30px;
}
.h1Margin {
    margin-top: 40px;
    margin-bottom: 30px;
}
.backToListArrow{
    padding:0;
}