@model IEnumerable<LolipopSquare.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="h1FontSize h1Margin">Categories</h1>

<p>
    <a class="btn btn-secondary" asp-action="AddNewCategoryForm">Add new</a>
</p>
<table class="table" aria-describedby="list of categories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="EditCategoryForm" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
